version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
      # TODO: once Artem confirms the prediction endpoint path
      YIELD_PREDICTION_API_URL: "https://yield-prediction-api-723493210689.us-central1.run.app/predict"
    ports:
      - "9000:8000" 
